<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduTrack - Staff Login</title>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/css/login_admin.css}">
</head>

<body>
<div class="container">
    <div class="design">
        <div class="pill-1 rotate-45"></div>
        <div class="pill-2 rotate-45"></div>
        <div class="pill-3 rotate-45"></div>
        <div class="pill-4 rotate-45"></div>
    </div>

    <div class="login">
        <h3 class="title">Admin Login</h3>

        <!-- Show error if present -->
        <div th:if="${param.error}" style="color: red; margin-bottom: 10px;">
            Invalid username or password
        </div>

        <!-- Login form -->
        <form th:action="@{/login/admin}" method="post" style="display: flex; flex-direction: column ;justify-content: center; align-items: center">
            <div th:if="${error}" style="color: red;">[[${error}]]</div>
            <div class="text-input">
                <i class="ri-user-fill"></i>
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="text-input">
                <i class="ri-lock-fill"></i>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div style="width: 70%;">
                <label class="login__remember">
                    <input type="checkbox" name="rememberMe" value="on"><span class="remember">Remember Me</span>
                </label>
            </div>
            <button class="login-btn" type="submit">LOGIN</button>
        </form>




    </div>
</div>
</body>

</html>
