<footer
        th:fragment="footer"
        class="footer has-bg-image"
        th:style="|background-image: url('@{/assets/images/footer-bg.png}')|">

    <div class="section footer-top">
        <div class="container">
            <div class="footer-brand">
                <a th:href="@{/}" class="logo">
                    <img
                            th:src="@{/assets/images/logo-footer.svg}"
                            width="145"
                            height="27"
                            alt="Youdemi home"
                    />
                </a>

                <p class="title-sm footer-text" th:text="${footerDescription}">
                    [Footer description will load here...]
                </p>
            </div>

            <ul class="footer-list">
                <li><p class="headline-sm footer-list-title">Links</p></li>
                <li><a th:href="@{/}" class="title-sm footer-link">Home</a></li>
                <li><a th:href="@{/about}" class="title-sm footer-link">About Us</a></li>
                <li><a th:href="@{/courses}" class="title-sm footer-link">Courses</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p class="copyright" th:text="${copyrightText}">
                &copy; Youdemi. All rights reserved.
            </p>
        </div>
    </div>
</footer>
