<footer
        th:fragment="footer"
        class="footer has-bg-image"
        th:style="|background-image: url('@{/assets/images/footer-bg.png}')|">

    <div class="section footer-top">
        <div class="container">
            <div class="footer-brand">
                <a th:href="@{/}" class="logo">
                    <img
                            th:src="@{/assets/images/logo-footer.svg}"
                            width="145"
                            height="27"
                            alt="Youdemi home"
                    />
                </a>

                <p class="title-sm footer-text">
                    Lorem ipsum amet, consectetur adipiscing elit. Suspendis varius
                    enim eros elementum tristique. Duis cursus.
                </p>

                <ul class="social-list">
                    <li>
                        <a th:href="@{/}" class="social-link">
                            <img th:src="@{/assets/images/facebook.svg}" width="40" height="40" loading="lazy"
                                 alt="facebook"/>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/}" class="social-link">
                            <img th:src="@{/assets/images/twitter.svg}" width="40" height="40" loading="lazy"
                                 alt="twitter"/>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/}" class="social-link">
                            <img th:src="@{/assets/images/pinterest.svg}" width="40" height="40" loading="lazy"
                                 alt="pinterest"/>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/}" class="social-link">
                            <img th:src="@{/assets/images/instagram.svg}" width="40" height="40" loading="lazy"
                                 alt="instagram"/>
                        </a>
                    </li>
                </ul>
            </div>

            <ul class="footer-list">
                <li><p class="headline-sm footer-list-title">Links</p></li>
                <li><a th:href="@{/}" class="title-sm footer-link">Home</a></li>
                <li><a th:href="@{/about}" class="title-sm footer-link">About Us</a></li>
                <li><a th:href="@{/pricing}" class="title-sm footer-link">Pricing</a></li>
                <li><a th:href="@{/courses}" class="title-sm footer-link">Courses</a></li>
                <li><a th:href="@{/contact}" class="title-sm footer-link">Contact Us</a></li>
                <li><a th:href="@{/blog}" class="title-sm footer-link">Blog</a></li>
            </ul>

            <ul class="footer-list">
                <li><p class="headline-sm footer-list-title">Legal</p></li>
                <li><a th:href="@{/legal}" class="title-sm footer-link">Legal</a></li>
                <li><a th:href="@{/terms-of-use}" class="title-sm footer-link">Terms of Use</a></li>
                <li><a th:href="@{/terms-and-conditions}" class="title-sm footer-link">Terms & Conditions</a></li>
                <li><a th:href="@{/payment-method}" class="title-sm footer-link">Payment Method</a></li>
                <li><a th:href="@{/privacy-policy}" class="title-sm footer-link">Privacy Policy</a></li>
            </ul>

            <ul class="footer-list">
                <li>
                    <p class="headline-sm footer-list-title">Instagram Post</p>
                    <ul class="grid-list">
                        <li><img th:src="@{/assets/images/ins-1.png}" width="80" height="80" loading="lazy"
                                 alt="Instagram post 1" class="img-cover"/></li>
                        <li><img th:src="@{/assets/images/ins-2.png}" width="80" height="80" loading="lazy"
                                 alt="Instagram post 2" class="img-cover"/></li>
                        <li><img th:src="@{/assets/images/ins-3.png}" width="80" height="80" loading="lazy"
                                 alt="Instagram post 3" class="img-cover"/></li>
                        <li><img th:src="@{/assets/images/ins-4.png}" width="80" height="80" loading="lazy"
                                 alt="Instagram post 4" class="img-cover"/></li>
                        <li><img th:src="@{/assets/images/ins-5.png}" width="80" height="80" loading="lazy"
                                 alt="Instagram post 5" class="img-cover"/></li>
                        <li><img th:src="@{/assets/images/ins-6.png}" width="80" height="80" loading="lazy"
                                 alt="Instagram post 6" class="img-cover"/></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p class="copyright">
                &copy; 2022 Youdemi. All Rights Reserved by codewithsadee.
            </p>
        </div>
    </div>
</footer>
