<header th:fragment="header"
        class="header"
        data-header
        xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <a th:href="@{/}" class="logo">
            <img
                    th:src="@{/assets/images/logo.png}"
                    width="150"
                    height="auto"
                    alt="Youdemi home"
            />
        </a>

        <nav class="navbar" data-navbar>
            <div class="navbar-top">
                <a th:href="@{/}" class="logo">
                    <img
                            th:src="@{/assets/images/logo.svg}"
                            width="145"
                            height="27"
                            alt="Youdemi home"
                    />
                </a>

                <button
                        class="nav-close-btn"
                        aria-label="close menu"
                        data-nav-toggler
                >
                    <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
                </button>
            </div>

            <ul class="navbar-list">
                <li class="navbar-item">
                    <a th:href="@{/}" class="navbar-link title-sm" data-nav-link>Home</a>
                </li>

                <li class="navbar-item" th:if="${session.loggedInUser == null or !isMentor}">
                    <a th:href="@{/courses-only}" class="navbar-link title-sm" data-nav-link>Courses</a>
                </li>

                <li class="navbar-item" th:if="${session.loggedInUser == null or !isMentor}">
                    <a th:href="@{/mentors}" class="navbar-link title-sm" data-nav-link>Mentors</a>
                </li>

                <li class="navbar-item" th:if="${session.loggedInUser != null}">
                    <a th:href="${isMentor ? '/mentor' : '/dashboard'}"
                       class="navbar-link title-sm" data-nav-link>Dashboard</a>
                </li>

                <li class="navbar-item" th:if="${session.loggedInUser != null and !isMentor}">
                    <a th:href="@{/bookmark/list}" class="navbar-link title-sm" data-nav-link>Bookmark</a>
                </li>

                <li class="navbar-item" th:if="${session.loggedInUser != null and isMentor}">
                    <a th:href="@{/mentor/cv/create}" class="navbar-link title-sm" data-nav-link>My CV</a>
                </li>

                <li class="navbar-item" th:if="${session.loggedInUser != null and isMentor}">
                    <a th:href="@{/mentor/your-review}" class="navbar-link title-sm" data-nav-link>Reviews</a>
                </li>
            </ul>
        </nav>

        <div style="display: flex; gap: 10px; align-items: center;">
            <div th:if="${session.loggedInUser == null}" style="display: flex">
                <a th:href="@{/login}" class="btn btn-secondary">Sign In</a>
                <a th:href="@{/signup}" class="btn btn-signup">Sign Up</a>
            </div>

            <div th:if="${session.loggedInUser != null}" style="display: flex; align-items: center; gap: 12px;">
                <th:block th:with="wallet = ${@walletService.findByUser(session.loggedInUser)}">
                    <a th:if="${wallet.isPresent()}" th:href="@{/wallet}" style="" class="title-sm" th:text="${wallet.get().balanceFormatted} + ' VND'">0 VND</a>
                </th:block>
                <a th:href="@{/logout}" class="btn btn-secondary">Logout</a>
            </div>
        </div>


        <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
            <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
        </button>

        <div class="overlay" data-overlay data-nav-toggler></div>
    </div>
    <script th:src="@{/assets/js/courlist.js}"></script>
</header>