<div class="sidebar" th:fragment="aside">
    <a th:href="@{/mentor}" class="nav-item"><i class="fas fa-home" aria-hidden="true"></i> Dashboard</a>

    <a th:href="@{/mentor/cv/create}" class="nav-item"><i class="fas fa-file-alt" aria-hidden="true"></i> My CV</a>

    <a th:href="@{/mentor/schedule}" class="nav-item"><i class="fas fa-calendar-week" aria-hidden="true"></i> Weekly Schedule</a>

    <a th:href="@{/mentor/price}" class="nav-item"><i class="fas fa-money-bill" aria-hidden="true"></i> Pricing</a>

    <a th:href="@{/mentor/requests}" class="nav-item"><i class="fas fa-calendar-check" aria-hidden="true"></i> Reschedule Request</a>

    <a th:href="@{/mentor/classes}" class="nav-item"><i class="fas fa-chalkboard-teacher" aria-hidden="true"></i> My Classes</a>

    <a href="/mentor/censor-class?status=PENDING" class="nav-item">
        <div style="display: inline-flex; align-items: center;">
            <i class="fas fa-tasks" aria-hidden="true" style="margin-right: 5px;"></i>
            <span style="margin-right: 5px;">Class Request</span>
            <span style="background-color: #b52935; width: 1.5em; aspect-ratio: 1/1; border-radius: 50%; text-align: center; color: white" th:text="${numberOfPending}"></span>
        </div>
    </a>

    <a th:href="@{/mentor/working-date}" class="nav-item"><i class="fas fa-briefcase" aria-hidden="true"></i> My Working Schedule</a>

    <a th:href="@{/mentor/your-review}" class="nav-item"><i class="fas fa-comment" aria-hidden="true"></i> Reviews</a>

    <a th:href="@{/profile}" class="nav-item"><i class="fas fa-user-circle"></i> Profile</a>
</div>