<div class="sidebar" th:fragment="aside">
    <div class="nav-item"><a href="/mentor"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a></div>
    <div class="nav-item"><a href="/mentor/cv/create"><i class="fa fa-file-text-o" aria-hidden="true"></i> My CV</a></div>
    <div class="nav-item"><a href="/mentor/schedule"><i class="fa fa-calendar" aria-hidden="true"></i> Weekly Schedule</a></div>
    <div class="nav-item"><a href="/mentor/requests"><i class="fa fa-calendar" aria-hidden="true"></i> Reschedule Request</a></div>
    <div class="nav-item"><a href="/mentor/classes"><i class="fa fa-calendar" aria-hidden="true"></i> My Classes</a></div>
    <div class="nav-item"><a href="/mentor/censor-class?status=PENDING"><i class="fa fa-list" aria-hidden="true"></i> Class Request</a></div>
    <div class="nav-item"><a href="/mentor/working-date"><i class="fa fa-briefcase" aria-hidden="true"></i> My Working Schedule</a></div>
</div>