<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/course_detail.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/courselist.css}"/>
</head>
<body>
<th:block th:insert="~{fragments/header :: header}"></th:block>
<main>
    <article class="section course">
        <div class="overall">
            <div class="left">
                <div>
                    <h1 th:text="${course.name}">Course Name</h1>
                    <p th:text="${course.description}">Mô tả khóa học chi tiết sẽ được hiển thị ở đây. Đây là một
                        khóa học tuyệt vời giúp bạn nâng cao kỹ năng và kiến thức trong lĩnh vực này.</p>
                </div>
                <div>
                    <div class="mentor-details" style="margin-bottom: 1em">
                        <h3 th:text="${'Mentor: ' + mentor.name}">Tên Mentor</h3>
                    </div>
                    <a th:href="@{/courses/register/{cid}(cid=${courseMentor.id})}" class="register-btn">
                        Enroll
                    </a>
                    <p style="padding-top: 1em"><strong>29,878</strong> already enrolled</p>
                </div>

            </div>

            <div class="right">
            </div>
        </div>
        <div style="padding: 0 2em 0;">
            <div class="banner">
                <div>
                    <h3>5 course series</h3>
                    <p>Get in-depth knowledge of a subject</p>
                </div>
                <div>
                    <h3>4.9</h3>
                    <p>(1.545 reviews)</p>
                </div>
                <div>
                    <h3>Beginner level</h3>
                    <p>Recommended experience</p>
                </div>
                <div>
                    <h3>2 months</h3>
                    <p>at 10 hours a week</p>
                </div>
                <div style="border: none">
                    <h3>Flexible schedule</h3>
                    <p>Learn at your own pace</p>
                </div>
            </div>
            <div class="navigate">
                <ul>
                    <li><a th:href="@{#skill}">Subjects</a></li>
                    <li><a th:href="@{#session1}">About</a></li>
                    <li><a th:href="@{#mentor}">Mentor</a></li>
                    <li><a th:href="@{#session3}">Testimonial</a></li>
                    <li><a th:href="@{#session2}">Related Skills</a></li>
                </ul>
            </div>
            <div class="cover">
                <div class="about">
                    <div class="skill">
                        <h2 id="skill">Subjects</h2>
                        <div class="tag_list">
                            <div class="tag" th:each="tag : ${tagList}" th:text="'#' + ${tag.title}">Community Organizing</div>
                        </div>
                    </div>
                    <div class="learn">
                        <h2 id="session1">What you'll learn</h2>
                        <div class="group">
                            <div class="element">
                                <p th:text="${course.description}">Mô tả khóa học chi tiết sẽ được hiển thị ở đây. Đây là một
                                    khóa học tuyệt vời giúp bạn nâng cao kỹ năng và kiến thức trong lĩnh vực này.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Mentor</h2>
            <div class="mentor_section">
                <div id="mentor" class="mentor">
                    <img th:src="@{/assets/img/em.png}"
                         alt="Avatar"
                         class="mentor-avatar">
                    <div class="mentor-info">
                        <h3 style="color: #7b7b8a;">Ten mentor</h3>
                        <p>cac expertise o day</p>
                        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 1em">
                            <button class="follow-btn">Detail</button>
<!--                            hien thi modal khi click schedule-->
                            <button class="follow-btn">Schedule</button>
                        </div>

                    </div>
                    <div class="stats">
                        <div class="stat-item">
                            <div class="stat-number">150</div>
                            <div class="stat-label">Number of Skill</div>
                        </div>
                        <div class="stat-item">
                            <div class="stat-number">140</div>
                            <div class="stat-label">Learners</div>
                        </div>
                        <div class="stat-item">
                            <div class="stat-number">45</div>
                            <div class="stat-label">Reviews</div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 id="session3">Why people choose EduTrack for their career</h2>
            <div class="review">
                <div class="card">
                    <div class="title">
                        <img th:src="@{#}" alt="avatar"/>
                        <h3 class="name">Felipe M.</h3>
                    </div>
                    <div>
                        "To be able to take courses at my own pace and rhythm has been an
                        amazing experience. I can learn whenever it fits my schedule and
                        mood."
                    </div>
                </div>
                <div class="card">
                    <div class="title">
                        <img th:src="@{#}" alt="avatar"/>
                        <h3 class="name">Felipe M.</h3>
                    </div>
                    <div>
                        "To be able to take courses at my own pace and rhythm has been an
                        amazing experience. I can learn whenever it fits my schedule and
                        mood."
                    </div>
                </div>
                <div class="card">
                    <div class="title">
                        <img th:src="@{#}" alt="avatar"/>
                        <h3 class="name">Felipe M.</h3>
                    </div>
                    <div>
                        "To be able to take courses at my own pace and rhythm has been an
                        amazing experience. I can learn whenever it fits my schedule and
                        mood."
                    </div>
                </div>
            </div>
            <h2 id="session2">Related Skills</h2>
        </div>
    </article>

</main>

<th:block th:insert="~{fragments/footer :: footer}"></th:block>
<script>
    function contactMentor() {
        alert('Tính năng liên hệ mentor sẽ được triển khai sớm!');
    }
</script>
</body>
</html>


//vẽ mô hình tichs hop ai