<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/assets/css/mentor_course.css}" />
    <title>Mentor detail</title>
</head>
<body>
<header class="section__container header__container" id="home">
    <div class="header__content">
        <div>
            <h1 th:text="${course.name}"></h1>
        </div>
    </div>
</header>

<section class="section__container about__container" id="about">
    <div class="about__image">
        <img th:src="@{/assets/bg.png}" alt="bg" class="about__bg-1" />
        <img th:src="@{/assets/bg.png}" alt="bg" class="about__bg-2" />
        <img th:src="@{/assets/about.jpg}" alt="about" class="about__img" />
    </div>
    <div class="about__content">
        <h2 class="section__header">Bit About Course</h2>
        <p th:text="${course.description}"></p>
    </div>
</section>

<section class="section__container service__container" id="service">
    <h2 class="section__header">Courses</h2>
    <div class="service__grid">
        <div class="service__card" th:each="mentor : ${relatedMentors}">
            <a th:href="@{'/mentors/' + ${mentor.id}}">
                <span><i class="ri-window-fill"></i></span>
                <h4 th:text="${mentor.fullName}">Mentor Name</h4>
                <p th:text="${mentor.expertise}">
                    Mentor Expertise
                </p>
            </a>
        </div>
    </div>
</section>


<script src="https://unpkg.com/scrollreveal"></script>
<script th:src="@{/main.js}"></script>
</body>
</html>
